.mainDiv {
  margin: 5vh;
  border-style: double;
  border: firebrick;
  border-radius: 5px;
  border-width: 1vh;
  background-color: floralwhite;
  height: 90%;
}

.userDiv {
  margin-top: 10vh;
  background-color: rgb(216, 216, 216);
  border-radius: 2px;
  margin-bottom: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  height: 80vh;
}

.leftMargin {
  margin-left: 1%;
}
.userList {
  border-right: 1px solid grey;
}

.chatSection {
}

.chatTextbox {
  width: 100%;
}

.chatInput {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatBox {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.chatDiv {
  margin-top: 10vh;
  background-color: rgb(216, 216, 216);
  border-radius: 2px;
  margin-bottom: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.messages {
  margin-left: 50px;
}
