<mat-toolbar>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<div class="container" fxLayout="row">
  <div class="userList" fxFlex="20" fxLayout="column">
    <mat-toolbar>
      <span>User List</span>
    </mat-toolbar>
    <div class="leftMargin">
      <div *ngFor="let user of users">
        <h3>{{ user.name }}</h3>
      </div>
    </div>
  </div>

  <div fxFlex fxLayout="column">
    <mat-toolbar>
      <span>Chat Section</span>
    </mat-toolbar>
    <div class="leftMargin" fxFlex fxLayout="column">
      <div class="chatBox" *ngFor="let message of messageList">
        {{ message.sender }} {{ message.message }}
      </div>
      <div fxLayout="row">
        <mat-form-field class="chatTextbox">
          <input
            matInput
            placeholder="Enter your message"
            [(ngModel)]="newMessage.message"
            (keyup)="$event.keyCode == 13 && sendMessage()"
          />
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
