.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: #0048aa;
  color: aliceblue;
}
.container {
  height: 90vh;
}

.leftMargin {
  margin-left: 1%;
}
.userList {
  border-right: 1px solid grey;
  background-color: #f5f5f5;
  overflow-y: scroll;
}

.searchUser {
  border: none;
  background-color: #f5f5f5;

  padding: 1em;
  transition: background-color 300ms ease-in;
}

.searchUser:hover {
  background-color: rgb(223, 223, 223);
}

.searchUser:focus {
  outline: none;
  background-color: rgb(223, 223, 223);
}
.user {
  background-color: #0048aa;
  color: aliceblue;
  padding: 1em;
  text-align: left;
  overflow: hidden;
  transition: background-color 200ms ease-in-out;
}

.user:hover {
  background-color: #0b418d;
}

.chatTextbox {
  width: 100%;
}

.chatInput {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatBox {
  overflow-y: scroll;
  float: right;
}

.sendbutton {
  color: #0048aa;
}

.float {
  width: 30vw;
  background-color: greenyellow;
  float: right;
}
.float-out {
  margin-bottom: 2px;
  width: 30vw;
  //background-color: greenyellow;
  float: right;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.talk-bubble {
  margin: 3%;
  display: inline-block;
  position: relative;
  width: 350px;
  height: auto;
}

.talk-bubble-out {
  margin: 0px;
  display: inline-block;
  position: relative;
  width: 350px;
  height: auto;
  background-color: grey;
}

.tri-right.border.left-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right-out.border.left-top-out:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #f5f5f5 transparent transparent transparent;
}
.tri-right-out.left-top-out:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0048aa transparent transparent transparent;
}
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.sender {
  margin-left: inherit;
}
