.example-spacer {
  flex: 1 1 auto;
}

.container {
  height: 80vh;
}

.leftMargin {
  margin-left: 1%;
}
.userList {
  border-right: 1px solid grey;
}

.chatSection {
}

.chatTextbox {
  width: 100%;
}

.chatInput {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatBox {
  overflow-y: scroll;
  float: right;
}

.float {
  margin-bottom: 2px;
  width: 20vw;
  //background-color: greenyellow;
  float: right;
}
.float-out {
  margin-bottom: 2px;
  width: 30vw;
  //background-color: greenyellow;
  float: right;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/*.talk-bubble {
  margin: 20px;
  display: inline-block;
  position: relative;
  width: 350px;
  height: auto;
  //background-color: lightyellow;
}

.talk-bubble-out {
  margin: 30px;
  display: inline-block;
  position: relative;
  width: 350px;
  height: auto;
  // background-color: lightyellow;
}*/

.tri-right.border.left-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.border.left-top-out:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}
.tri-right.left-top-out:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.sender {
  margin-left: inherit;
}
