<mat-toolbar class='toolbar'>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<div class="container" fxLayout="row">
  <div class="userList" fxFlex="20" fxLayout="column">
    <mat-toolbar>
      <span>Friends</span>
    </mat-toolbar>
    <input class="searchUser" [(ngModel)]="query" type="text" placeholder="Type here to find your friend">
      <div class="user leftMargin" *ngFor="let room of rooms | search:'roomName':query" (click)="getRoomMessages(room)">
        <h4>{{ room.roomName }}</h4>
        <small>Last message</small>
    </div>
  </div>

  <div class="chatSection " fxFlex fxLayout="column">
    <!--Item 1-->
    <mat-toolbar >
      <span>Chat Section</span>
    </mat-toolbar>
    <!-- Item 2 -->
    <div class="leftMargin chatBox" id="scrollme" #scrollme  fxFlex fxLayout="column" >
      <div 
        class="float talk-bubble " 
       
        *ngFor="let message of roomMessages">
        <mat-card color="primary">
          <mat-card-content>{{message.message}}</mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- Item 3 --> 
    <div fxLayout="row">
      <mat-form-field class="chatTextbox leftMargin">
        <input
          matInput
          placeholder="Enter your message"
          [(ngModel)]="text"
          (keyup)="$event.keyCode == 13 && sendMessage()"
        />
      </mat-form-field>
      <button mat-icon-button class="sendbutton" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
