<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="chatApp" fxLayoutAlign="center center">
    <h1>Chat App</h1>
  </div>
  <div class="loginBox" fxLayout="column" fxlayoutAlign="center center">
    <h1 fxLayoutAlign="center center">Login to Join Chat</h1>
    <div fxLayoutAlign="center center">
      <a href="https://localhost:3443/fbcallback">
        <div class="login-button">
          <div class="login-facebook-icon">f</div>
          <div class="login-facebook-text">Continue with Facebook</div>
        </div>
      </a>
    </div>
    <br />
    <div fxLayout="column" fxLayoutAlign="center center">
      <h3>or</h3>
      <div fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Enter email-id</mat-label>
          <input [(ngModel)]="userData.username" matInput />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Enter Password</mat-label>
          <input [(ngModel)]="userData.password" matInput />
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="localLogin()" >Login</button>
      <br />
      <div>Don't have an account? <a routerLink="/signup">Sign up</a></div>
    </div>
  </div>
</div>
