<div class="container" fxLayout="row" fxLayoutAlign="center center">
    <div class="chatApp" fxLayoutAlign="center center">
      <h1>Chat App</h1>
    </div>
    <div class="loginBox" fxLayout="column" fxlayoutAlign="center center">
        <h1 fxLayoutAlign="center center">Signup to Join Chat</h1>
        <div fxLayoutAlign="center center">
        <a href="https://localhost:3443/fblogin">
          <div class="login-button">
            <div class="login-facebook-icon">f</div>
            <div class="login-facebook-text">Continue with Facebook</div>
          </div>
        </a>
      </div>
      <br />
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3>or</h3>
        
        <div fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>Email-Id</mat-label>
            <input [(ngModel)]="userData.username" type="email" matInput required/>
          </mat-form-field>
        </div>
        <div >
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input [(ngModel)]="userData.name" type="text" matInput required/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input [(ngModel)]="userData.password" type="password" matInput required />
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" (click)="createUser()">Join the Chat</button>
        <br />
        <div>Already have an account? <a routerLink="/login">Login</a></div>
      </div>
    </div>
  </div>
  